.cookie {
  position: fixed;
  display: flex;
  justify-content: space-between;
  border: gray 2px solid;
  border-radius: 2px;
  box-shadow: gray;
  width: 40%;
  top: 90%;
  left: 35%;
  padding: 0.5rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 10px 10px 36px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 36px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 36px 0px rgba(0, 0, 0, 0.75);
}
.cookie > h3,
.cookie > div > a {
  margin: auto;
}

.closedIntro {
  height: 0px;
  overflow: hidden;
  padding: 0px !important;
  border: 0px !important;
}

.wrapper {
  position: relative;
  background-color: #b1ede8;
  border-right: 4px solid black;
  border-left: 4px solid black;
}
.intro {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.smiley {
  display: none;
}
.spacer {
  flex-grow: 1;
  min-width: 400px;
}
.animationcontainer {
  max-width: 700px;
  display: flex;
}
.horizontaltext {
  font-size: 2rem;
  opacity: 0.4;
  flex-grow: 2;
  display: flex;
}
.horizontaltext > h2 {
  margin: auto;
  max-width: 200px;
}
.title {
  font-size: 10rem;
  text-align: center;
}
.description {
  background-color: #b1ede8;
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}
.leftspacer {
  flex-grow: 1;
  max-width: 400px;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
}
.descriptioncontent {
  min-height: 300px;
  border: 4px solid black;
  max-width: 700px;
  flex-grow: 3;
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.descriptionlinks {
  min-height: 300px;
  border: 4px solid black;
  background-color: white;
  padding: 2rem;
  border-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.descriptioncontent > h2 {
  font-size: 2rem;
  margin: auto;
}
.link {
  display: inline;
  cursor: pointer;
}
.descriptionlinks {
  font-size: 2rem;
}
.descriptioncontent > h3 {
  font-size: 1.2rem;
  opacity: 0.4;
}
.rightspacer {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  flex-grow: 1;
}
.page2 {
  display: flex;
  border-top: 4px solid black;
}
.page2 > .leftspacer {
  background-color: white;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  max-width: 500px;
  min-width: 30%;

  border-top: 0px;
}
.page2 > .leftspacer > h2 {
  max-width: 300px;
  position: -webkit-sticky;
  position: sticky;
  top: 20rem;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.page2 > .leftspacer > h1 {
  max-width: 300px;
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.page2 > .rightspacer {
  border: none;
  max-width: 400px;
  min-width: 20%;
  background-color: transparent;
}
.page2content {
  min-height: 3000px;
  background-color: white;
  padding: 2rem;
  border-right: 4px solid black;
  border-left: 4px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.page2content,
.ourmissioncontent > p {
  font-size: 1.5rem;
}
.problem {
  font-size: 4rem;
}

.ourmission {
  display: flex;
}
.ourmissioncontent {
  min-height: 2000px;
  background-color: white;
  padding: 2rem;
  border-right: 4px solid black;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  border-top: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}
.ourmission > .leftspacer {
  background-color: white;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  max-height: 1600px;
  min-width: 30%;

  border-top: 0px;
}
.ourmission > .leftspacer > h1 {
  max-width: 300px;
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.ourmission > .rightspacer {
  border: none;
  max-width: 400px;
  min-width: 20%;

  background-color: transparent;
}
.sticky {
  position: sticky;
  top: 100px;
}
.fact {
  border: 4px solid black;
  background-color: white;
  padding: 2rem;
  margin-bottom: 2rem;
}
.facttext > h3 > span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}
.facttext {
  display: flex;
}
.facttext > h3 {
  font-size: 4rem;
}
.facttext > p {
  font-size: 1.3rem;
}
@media (max-width: 1024px) {
  .horizontaltext {
    font-size: 2rem;
  }
  .spacer {
    display: none;
  }

  .descriptionlinks > h2 {
    font-size: 1.2rem;
  }
  .descriptionlinks {
    flex-grow: 2;
    border-top: 4px solid black;
  }
  .leftspacer > .horizontaltext {
    display: none;
  }
  .page2content {
    min-height: auto;
    margin: 0px;
    border-bottom: 4px solid black;
    border-right: 0px;
  }
  .page2 > .leftspacer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: unset;
    background-color: transparent;
  }
  .page2content > p,
  .ourmissioncontent > p {
    margin: 1rem;
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }
  .page2 > .rightspacer,
  .ourmission > .rightspacer {
    display: none;
  }
  .problem {
    font-size: 2rem;
  }
  .ourmissioncontent {
    min-height: 100%;
    margin: 0;
    border-right: 0;
  }
  .ourmission > .leftspacer {
    border-top: 0px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .animationcontainer {
    max-width: 100%;
    display: flex;
  }
  .description {
    display: flex;
    flex-direction: column;
  }
  .descriptioncontent {
    max-width: 100%;
  }
  .descriptionlinks {
    border: 0px;
  }
  .description > .leftspacer {
    display: none;
  }
  .horizontaltext {
    font-size: 1rem;
    flex-grow: 0;
  }
  .horizontaltext > h2 {
    max-width: 100px;
  }
  .intro {
    width: 100%;
  }
  .spacer {
    display: none;
  }
  .page2 > .leftspacer,
  .ourmission > .leftspacer {
    min-width: 100%;
    background-color: transparent;
  }

  .title {
    font-size: 4rem;
  }
  .intro {
    height: 100%;
  }
  .descriptioncontent,
  .ourmissioncontent {
    border-right: 0px;
    border-left: 0px;
  }
  .page2,
  .ourmission {
    flex-direction: column;
  }
  .page2 > .leftspacer > .horizontaltext {
    display: none;
  }
  .problem {
    font-size: 2rem;
    text-align: center;
  }
  .page2content,
  .ourmissioncontent > p {
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }
  .page2content {
    min-height: 1000px;
    padding: 2rem;
    border-right: 0;
    border-left: 0;
    margin: 0;
  }
  .ourmission > .leftspacer {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }
  .ourmissioncontent {
    min-height: 100%;
  }

  .facttext {
    flex-direction: column;
  }
  .facttext > h3 {
    font-size: 2rem;
  }
  .facttext > p {
    font-size: 1rem;
  }
}
