@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Armata");
@import url("https://fonts.googleapis.com/css?family=Bentham");
@import url("https://fonts.googleapis.com/css?family=Palanquin");

.grayscale {
  filter: grayscale(1);
}
.nav-link {
  margin-left: 1rem;
}
main {
  border-top: 4px solid black;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scrollbar-color: #b1ede8 #54bab2;
}
.outline {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
.highlight {
  background-color: #d81e5b;
  color: white;
}
.arrow {
  max-width: 24px;
  max-height: 24px;
  display: inline-block;
  margin: 8px;
}
.quote {
  background-color: lightgray;
}
